.box {
    display: grid;
    background-color: rgb(91, 91, 227);
    font-size: x-large;
    text-align: center;
    align-items: center;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px ;
    grid-auto-rows: minmax(150px, auto);
}